@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
  display: block;
  justify-content: center;
  min-height: 100vh;
}



@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}



:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;

  /* shine colours 1*/
	--c11: rgb(219, 221, 223);
  /* border colours 1*/
	--c12: rgb(149, 151, 153);
  
  /* shine colours 2*/
	--c21: rgb(252, 229, 163);
  /* border colours 2*/
	--c22: rgb(255, 199, 45);

  /* shine colours 3*/
	--c31: rgb(165, 81, 172);
  /* border colours 3*/
	--c32: rgb(102, 21, 110);
  
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

.extras-box {
	border: 0.75rem solid;
	padding: 2vw;
  background: url('./Assets/WI1D6140-810x540.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
	border-image: conic-gradient(from var(--angle), var(--c32), var(--c31) 0.1turn, var(--c31) 0.15turn, var(--c32) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.interior-box{
  border: 0.75rem solid;
	padding: 2vw;
  margin-bottom: 1rem;  background: url('./Assets/5890a22f90b4627992b23d4360feaca1f0e019a5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
	border-image: conic-gradient(from var(--angle), var(--c12), var(--c11) 0.1turn, var(--c11) 0.15turn, var(--c12) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.exterior-box {
  border: 0.75rem solid;
	padding: 2vw;
  margin-bottom: 1rem;
  background: url('./Assets/WI1D6140-810x540.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
	border-image: conic-gradient(from var(--angle), var(--c12), var(--c11) 0.1turn, var(--c11) 0.15turn, var(--c12) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.premium-box {
  border: 0.75rem solid;
	padding: 2vw;
  margin-bottom: 1rem;  background: url('./Assets/Best-Service-Centers-For-Car-Detailing-in-Karachi-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
	border-image: conic-gradient(from var(--angle), var(--c22), var(--c21) 0.1turn, var(--c21) 0.15turn, var(--c22) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}